
.navigation {
    background-color: #31255e;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.identity h1 {
    color: #ffffff;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 6px;
}

.identity p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

.links {
    display: flex;
    gap: 28px;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.2s ease;
}

.links a:hover {
    color: #A855F7;
}

@media (max-width: 600px) {
    .navigation {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .identity {
        width: 100%;
        text-align: center;
    }

    .identity p {
        white-space: normal;
        font-size: 0.85rem;
    }

    .links {
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 601px) and (max-width:900px) {
    .identity p {
        font-size: 0.85rem;
    }

    .navigation {
        gap: 24px;
    }
}